$primary-color: #cb9f46;
$secondary-color: #002a41;
$text-dark: black;
$text-light: #FFF;

$text-shadow-med: 4px 2px 5px rgba(0,0,0,0.5);
$text-shadow-dark: 4px 2px 5px rgba(0,0,0,0.5);

$default-spacing: 2rem;
